In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [9]:
# District Summary
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [10]:
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [13]:
schools_students = pd.merge(school_data, student_data, on="school_name")
schools_students.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [3]:
# District Summary

# * Calculate the total number of schools
total_schools = len((schools_students["School ID"].unique())
    total_schools()
# * Calculate the total number of students
total_students = len((schools_students["Student ID"].unique))
    total_students()
# * Calculate the total budget
total_budget = add((schools_students[budget].unique))
    total_budget()
# * Calculate the average math score 
average_math = mean(schools_students[])
# * Calculate the average reading score

# * Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

# * Calculate the percentage of students with a passing math score (70 or greater)

# * Calculate the percentage of students with a passing reading score (70 or greater)

# * Create a dataframe to hold the above results

# * Optional: give the displayed data cleaner formatting

SyntaxError: invalid syntax (<ipython-input-3-a47059554937>, line 5)

In [ ]:

#create a DataFrame for 

District={}

District=pd.DataFrame()

#passing grade is 70

District["Total Schools"] =[school_df.school.value_counts().sum()]
District["Total Students"] = [school_df["size"].sum()]
District["Total Budget"]=[school_df["budget"].sum()]
District["Average Math Score"]=[student_df["math_score"].mean()]
District["Average Reading Score"]=[student_df["reading_score"].mean()]

Total_Students=len(student_df["Student ID"])
math_pass=len(student_df[student_df["math_score"] >= 70])/ Total_Students
reading_pas=len(student_df[student_df["reading_score"] >= 70])/ Total_Students

overal=(math_pass+reading_pas)/2

# passing rate is 70
District["%Passing Math"]=len(student_df[student_df["math_score"] >= 70])/ Total_Students
District["%Passing Reading"]=len(student_df[student_df["reading_score"] >= 70])/ Total_Students
District["%Overall Passing Rate"]=[overal]

Districts=pd.DataFrame(District)



Districts.style.format({"Total Budget": "${:,.2f}",
                      "%Passing Math": "{:.1%}","%Passing Reading": "{:.1%}"})

Districts

In [ ]:

#groups by school
school = all_df.set_index('school').groupby(['school'])

types = school_df.set_index('school')['type']

# sum students by school
student_school = all_df.groupby("school")['Student ID'].count()

# school budget
school_budget = school_df.set_index('school')['budget']

#student budget
student_budget = school_df.set_index('school')['budget']/school_df.set_index('school')['size']

#avg scores by school
avg_math = school['math_score'].mean()
avg_read = school['reading_score'].mean()

# % passing scores
pass_math = all_df[all_df['math_score'] >= 70].groupby('school')['Student ID'].count()/student_school 
pass_read = all_df[all_df['reading_score'] >= 70].groupby('school')['Student ID'].count()/student_school
overall = all_df[(all_df['reading_score'] >= 70) & (all_df['math_score'] >= 70)].groupby('school')['Student ID'].count()/student_school

school_summary = pd.DataFrame({
    "School Type": types,
    "Total Students": student_school,
    "Per Student Budget": student_budget,
    "Total School Budget": school_budget,
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall
})




#munging
school_summary = school_summary[['School Type', 
                          'Total Students', 
                          'Total School Budget', 
                          'Per Student Budget', 
                          'Average Math Score', 
                          'Average Reading Score',
                          '% Passing Math',
                          '% Passing Reading',
                          'Overall Passing Rate']]

#formatting
school_summary.style.format({'Total Students': '{:,}', 
                          "Total School Budget": "${:,}", 
                          "Per Student Budget": "${:.0f}",
                          'Average Math Score': "{:.1f}", 
                          'Average Reading Score': "{:.1f}", 
                          "% Passing Math": "{:.1%}", 
                          "% Passing Reading": "{:.1%}", 
                          "Overall Passing Rate": "{:.1%}"})

In [ ]:

TOP5=school_summary.sort_values("Overall Passing Rate", ascending = False)


TOP5.style.format({'Total Students': '{:,}',
                           "Total School Budget": "${:,}", 
                           "Per Student Budget": "${:.0f}", 
                           "% Passing Math": "{:.1%}", 
                           "% Passing Reading": "{:.1%}", 
                           "Overall Passing Rate": "{:.1%}"})



TOP5.head()

In [ ]:
#tail has last 5 rows and since it was sorted on top5 we use tail
Bottom_5 = TOP5.tail()
# now soritng to show the worst fisrt 
Bottom_5 = Bottom_5.sort_values('Overall Passing Rate')
Bottom_5.style.format({'Total Students': '{:,}', 
                       "Total School Budget": "${:,}", 
                       "Per Student Budget": "${:.0f}", 
                       "% Passing Math": "{:.1%}", 
                       "% Passing Reading": "{:.1%}", 
                       "Overall Passing Rate": "{:.1%}"})
Bottom_5.head()

In [ ]:

#creates grade level average math scores for each school 
ninth_math = student_df.loc[student_df['grade'] == '9th'].groupby('school')["math_score"].mean()
tenth_math = student_df.loc[student_df['grade'] == '10th'].groupby('school')["math_score"].mean()
eleventh_math = student_df.loc[student_df['grade'] == '11th'].groupby('school')["math_score"].mean()
twelfth_math = student_df.loc[student_df['grade'] == '12th'].groupby('school')["math_score"].mean()

math_scores = pd.DataFrame({
        "9th": ninth_math,
        "10th": tenth_math,
        "11th": eleventh_math,
        "12th": twelfth_math
})
math_scores = math_scores[['9th', '10th', '11th', '12th']]
math_scores.index.name = "School"

#show and format
math_scores.style.format({'9th': '{:.1f}', 
                          "10th": '{:.1f}', 
                          "11th": "{:.1f}", 
                          "12th": "{:.1f}"})

In [ ]:
#creates grade level average reading scores for each school
ninth_reading = student_df.loc[student_df['grade'] == '9th'].groupby('school')["reading_score"].mean()
tenth_reading = student_df.loc[student_df['grade'] == '10th'].groupby('school')["reading_score"].mean()
eleventh_reading = student_df.loc[student_df['grade'] == '11th'].groupby('school')["reading_score"].mean()
twelfth_reading = student_df.loc[student_df['grade'] == '12th'].groupby('school')["reading_score"].mean()

#merges the reading score averages by school and grade together
reading_scores = pd.DataFrame({
        "9th": ninth_reading,
        "10th": tenth_reading,
        "11th": eleventh_reading,
        "12th": twelfth_reading
})
reading_scores = reading_scores[['9th', '10th', '11th', '12th']]
reading_scores.index.name = "School"

#format
reading_scores.style.format({'9th': '{:.1f}', 
                             "10th": '{:.1f}', 
                             "11th": "{:.1f}", 
                             "12th": "{:.1f}"})# create spending bins
bins = [0, 584.999, 614.999, 644.999, 999999]
group_name = ['< $585', "$585 - 614", "$615 - 644", "> $644"]
all_df['spending_bins'] = pd.cut(all_df['budget']/all_df['size'], bins, labels = group_name)

#group by spending
by_spending = all_df.groupby('spending_bins')

#calculations
avg_math = by_spending['math_score'].mean()
avg_read = by_spending['reading_score'].mean()
pass_math = all_df[all_df['math_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()
pass_read = all_df[all_df['reading_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()
overall = all_df[(all_df['reading_score'] >= 70) & (allScores by School Size_df['math_score'] >= 70)].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()

            
# df build            
scores_by_spend = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall
            
})
            
#reorder columns
scores_by_spend = scores_by_spend[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
        '% Passing Reading',
    "Overall Passing Rate"
]]

scores_by_spend.index.name = "Per Student Budget"
scores_by_spend = scores_by_spend.reindex(group_name)

#formating
scores_by_spend.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})